BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak